.item_list_container 
{
	width: 90%;
    margin: auto;
    display: grid;
    grid-template-rows: 100% 10%;
} 

.box_list table 
{
    width: 70%;
    border-collapse: collapse;
    margin-left: 15%;
    margin-top: 2%;
    
}

.box_list th, .box_list td 
{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.box_list th 
{
    background-color: #f2f2f2;
    text-align: center;
    font-size: 15px;
}

.box_list td
{
    text-align: left;
    font-size: 13px;
} 