.main_box_container {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: 40px;
}

.main_box_item 
{
	text-align: center;
}

.main_box_search 
{
	grid-column: 1 / 4;
	grid-row: 2 / 3;
  
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	padding: 5px;
	width: 1065px;
	height:30px;
	border-radius:5px;
	z-index: 2;
}

.main_box_suggest
{
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	
	align-items: center;
	padding: 7px;
	
	font-size: 14px;
	font-weight: 800;
	z-index: 2;

	white-space: nowrap;
}

.main_box_category_text
{
	grid-column: 1 / 4;
	grid-row: 16 / 17;
		
	margin-top: 30px;
	padding: 5px;
	
	text-align: left !important;
	font-size: 25px;
	font-weight: 800;
	
}

.main_box_category
{
	grid-column: 1 / 2;
	grid-row: 17 / 23;
	
	align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
	
	width: 1200px;
}

.main_search_input 
{
	border: none;
	outline: none;
	width: 1050px;
	height: 20px;
	margin-left: 5px;
	font-size: 16px;
}
        
.main_search_input::placeholder 
{
	color: gray;
}
		
.main_search_button 
{
	background-color: white;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
}

.main_search_button img 
{
	width: 20px;
	height: 20px;
}
		
.main_location_button 
{
	background-color: white;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main_location_button img 
{
	width: 20px;
	height: 25px;
}

.main_box_suggest a
{
	margin-left: 10px;
	font-weight: 600;
	color: #ccc;
	text-decoration: none;	
	cursor: pointer;
}

.main_category_btn 
{
	background-color: transparent;
	border: none;
	padding: 10px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	transition: background-color 0.3s ease;
		
	font-size: 14px;
	font-weight: 900;
}
				
.main_category_btn img 
{
	width: 120px;
	height: 120px;
	object-fit: cover;
	margin-bottom: 10px;
	transition: transform 0.3s ease;
}

.main_category_btn:hover img 
{
    transform: scale(1.2);
}


.modal {
	display: none; 
	position: fixed;
	z-index: 1111; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4); 
}


.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 500px;
}


.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}



 .css-button {
	border: none; 
	font-size: 15px;
	cursor: pointer;             
	border-radius: 5px;  
	color: white;
	font-weight: 400;
	background-color: #eb3333;
	padding: 5px;
}

.alternate-results ul {
	list-style-type: none; 
	padding: 0;
}
  
.alternate-results li {
	cursor: pointer; 
	border-bottom: 1px solid #ccc; 
	padding: 10px 5px;
}

.search_location
{
	width: 350px;
	padding: 5px;
	margin: 0 10px;
	border: 1px solid black;
	border-radius: 5px;
	outline: none;
}