.box_container 
{
	width: 1080px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(30, 40px);
}

.box_item 
{
	text-align: center;
}

.box_slider
{
	grid-column: 1 / 4;
	grid-row: 5/ 17;
	
	width: 100%;
	overflow: hidden;
	position: relative;
}

.box_slider img
{
	width: 1080px;
	height: 480px;
	object-fit: cover;
	flex-shrink: 0;
	overflow: hidden;
	position: relative;
}

.box_slider:hover .slider_arrow 
{
	opacity: 1;
}

.slider_track 
{
	display: flex;
	transition: transform 1s linear;
}
        
.slider_arrow 
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(255, 255, 255, 0);
	color: black;
	border: none;
	width: 100px;
	height: 100px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.slider_track img:first-child 
{
	display: block;
}

.slider_arrow.left 
{
	left: 10px;
}

.slider_arrow.right 
{
	right: 10px;
}