.box_container 
{
	width: 1080px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(24, 40px);
}

.box_item 
{
	text-align: center;
}

.box_search 
{
	grid-column: 1 / 4;
	grid-row: 3 / 5;
  
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	padding: 5px;
	width: 1065px;
	height:30px;
	border-radius:5px;
}

.box_suggest
{
	grid-column: 1 / 4;
	grid-row: 4 / 5;
	
	align-items: center;
	padding: 7px;
	
	font-size: 14px;
	font-weight: 800;
}

.box_slider
{
	grid-column: 1 / 4;
	grid-row: 5 / 17;
	
	width: 100%;
	overflow: hidden;
	position: relative;
}

.box_category_text
{
	grid-column: 1 / 4;
	grid-row: 17 / 19;
		
	margin-top: 20px;
	padding: 5px;
	
	text-align: left;
	font-size: 25px;
	font-weight: 800;
}

.box_category
{
	grid-column: 1 / 4;
	grid-row: 19 / 25;
	
	
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.search_input 
{
	border: none;
	outline: none;
	width: 1050px;
	height: 20px;
	margin-left: 5px;
	font-size: 16px;
}
        
.search_input::placeholder 
{
	color: gray;
}
		
.search_button 
{
	background-color: white;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
}

.search_button img 
{
	width: 20px;
	height: 20px;
}

.box_suggest a
{
	margin-left: 10px;
	font-weight: 600;
	color: #ccc;
	text-decoration: none;
}

.box_slider img
{
	width: 1080px;
	height: 480px;
	object-fit: cover;
	flex-shrink: 0;
	overflow: hidden;
	position: relative;
}

.slider_track 
{
	display: flex;
	transition: transform 1s linear;
}
        
.slider_arrow 
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(255, 255, 255, 0);
	color: black;
	border: none;
	width: 100px;
	height: 100px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.slider_track img 
{
	display: none;
	width: 100%;
	height: auto;
}

.slider_track img:first-child 
{
	display: block;
}

.slider_arrow.left 
{
	left: 10px;
}

.slider_arrow.right 
{
	right: 10px;
}

.box_slider:hover .slider_arrow 
{
	opacity: 1;
}

.category_btn 
{
	background-color: transparent;
	border: none;
	padding: 10px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	transition: background-color 0.3s ease;
		
	font-size: 14px;
	font-weight: 900;
}
				
.category_btn img 
{
	width: 120px;
	height: 120px;
	object-fit: cover;
	margin-bottom: 10px;
	transition: transform 0.3s ease;
}

.category_btn:hover img 
{
    transform: scale(1.2);
}